body{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100vw;
    background: linear-gradient(72deg, black 1%, blue 99%);
}

.content{
    height: 520px;
    width: 935px;
    border-radius: 20px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.nav label{
    width: 70px;
    height: 17px;
    border: 2px solid white;
    margin: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.nav label:hover{
    background-color: black;
}

input{
    display: none;
}

.slides{
    display: flex;
    width: 500%;
    height: 100%;
}

.slide{
    width: 20%;
    transition: 1s;
}

.slide img{
    width: 100%;
    height: 100%;
}

#slide1:checked ~ .s1{
    margin-left: 0;
}

#slide2:checked ~ .s1{
    margin-left: -20%;
}

#slide3:checked ~ .s1{
    margin-left: -40%;
}

#slide4:checked ~ .s1{
    margin-left: -60%;
}

#slide5:checked ~ .s1{
    margin-left: -80%;
}

h2{
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   margin-top: 50px;
   background-color: blue;
   padding: 10px;
   border-radius: 20px;
   color: white;
}